[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fruclimadapt"]
	path = fruclimadapt
	url = https://github.com/carm1r/fruclimadapt
